*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
/captures
.externalNativeBuild
app/release/
.idea/
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/keyStore/release.jks
/app/google-services.json
.kotlin/
nohup.out

# vpngate_collector.py outputs
servers_all.json
servers_softether.json
servers.csv
__pycache__/
.pytest_cache/

